sudo: false

language: php

cache:
  directories:
    - $HOME/.composer/cache

php:
  - 7

before_install:
  - composer self-update

install:
  - travis_retry composer install --no-interaction --ignore-platform-reqs

script:
  - ./vendor/bin/phpunit

